*/Makefile
src/*.so
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run
/debug
/memcheck

/out
tictoc

examples/**/results
examples/**/.tkenvrc
examples/**/valgrind.out

/gcc-debug/
.csettings/
.cproject

/results/
*.anf
